<!DOCTYPE html>
<html>
<head>
  <title>Sheffield Viking SC</title>
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>if (navigator.standalone) $('#body').addClass('standalone')</script>
</head>
<body>

<%= yield %>

</body>
</html>
